body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-top: 20px;
  color: #333;
}

.container {
  display: none;
  justify-content: space-around;
  margin: 20px;
}

.column {
  width: 30%;
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

  .column h2 {
    background-color: #050575;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0;
  }

  .column h3 {
    font-size: x-large;
  }

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.card {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

  .card h3 {
    margin: 0 0 10px 0;
  }

  .card p {
    margin: 5px 0;
  }

  .card .progress {
    font-weight: bold;
    color: #007bff;
  }

  .card .priority {
    font-weight: bold;
  }

  #error{
    display: none;
    justify-content: space-around;
    margin: 30px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #721c24;
  }

  #loader{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    background-color: antiquewhite;
    color: #222222;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width:1px;
    border-color: orange;
  }